@import './tailwind.css';

body{
  background-color: rgb(192, 192, 192);
}

.prods{
  -tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
  
  padding: .5rem 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem/* 8px */;
}