p{
    color:blueviolet
}
form {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }
  
  .bloque {
    border: 1px solid red;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
  }
  
  #messageParagraph {
    border: 1px solid green;
    padding: 20px;
  }