<div>
    CHAT DE PRUEBA
</div>

<div id="div-msgs" class="border:1px solid red">
    Loading...
</div>

<br>
<hr >

<h4>Ingrese un mensaje</h4>
<div>
    <input id="input-msg" type="text" placeholder=" ingrese algo...">
</div>

{{!-- <div>
    Listo para trabjar con socket
    <form>
        <input type="text" id="messageInput">
    </form>
    <p id="messageParagraph"></p>
</div> --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
