<form action="/api/sessions/login" method="post">
    <input type="text" name="username" placeholder="nombre de usuario">
    <input type="password" name="password" placeholder="contraseña">
    <button type="submit">Enviar</button>
</form>