<head>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
</head>
<div class="login-card">
    <a class="home" href="/"><span class="material-symbols-outlined">home</span></a>
    <h2>Registrate</h2>
    <form class="form" action="/api/sessions/register" method="post">
        <div class="textbox">
            <input type="text" name="first_name" required/>
            <label>Nombre</label>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
            <input type="text" name="last_name" required/>
            <label>Apellido</label>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
            <input type="text" name="username" required/>
            <label>Nombre de usuario</label>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
            <input type="email" name="email" required/>
            <label>Email</label>
            <span class="material-symbols-outlined">mail</span>
        </div>
        <div class="textbox">
            <input type="text" name="age" required/>
            <label>Edad</label>
            <span class="material-symbols-outlined">account_circle</span>
        </div>
        <div class="textbox">
            <input type="password" name="password" required/>
            <label>Contraseña</label>
            <span class="material-symbols-outlined">key</span>
        </div>
        <p>
            Ya esta registrado? <a href="/api/sessions/login">Inicie aquí</a>
        </p>
        <button type="submit">Registrarse <span class="material-symbols-outlined">arrow_forward</span></button>
    </form>
</div>