<div>
    Listo para trabjar con socket
    <form>
        <input type="text" id="messageInput">
    </form>
    <p id="messageParagraph"></p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/test-socket.js"></script>
